#access-denied-component {
    height: 100%;
    padding-top: 30vh;
    display: flex;
    justify-content: center;
    text-align: center;
}
.mb-40 {
    margin-bottom: 40px;
}
p {
    color: black;
    font-size: 18px;
}
