mat-radio-button {
   padding-right: 21px;
   font-size: 14px; 
}

.mat-radio-label-content {
   font-size: 14px; 
}

#visibleBusinessRuleResult {
   padding-left: 0px;
}

label {
   padding-right: 21px;
   padding: 3px 20px 0px 20px;
}