$yPrime-light-blue: #337ab7;
$yPrime-gray-border: #979797;
$errorColor: rgb(241, 37, 37);
$mandatoryKey: #EC008C;
$validationErrorKey: #EC008C;
$body-margin-size: 24px;
$home-link-color: #666666;
$navbar-height: 60px;
$panel-header-height: 95px;
$home-label-weight: bolder;
$home-border: 1px solid $yPrime-gray-border;
$home-border-radius: 0.4em;
$matRowHoverBackGroundColor: #01ffff;
$footer-height: 30px;