@import './../../../styles/mixins.scss';

.home-icon-wrapper {
  width: 6em;
  @include wrapper-settings();
}

a {
  color: $home-link-color;
}

.fa-check {
  color: #2CC027;
}

.icon-title {
  font-weight: normal;
  margin-top: .4em;
  display: block;
}
