<div id="createQuestionnaireWrapper">
   <div id="questionnairePanels">
      <div class="row body-window">
         <div class="col-md-3 left">
            <app-questionnaire-left-panel></app-questionnaire-left-panel>
         </div>
         <div class="col-md-6 middle">
            <app-questionnaire-middle-panel></app-questionnaire-middle-panel>
         </div>
         <div class="col-md-3 right">
            <app-questionnaire-right-panel></app-questionnaire-right-panel>
         </div>
      </div>         
   </div>
</div>

